In [78]:
# Problem Statement 
# Post pandas merger of two dataframe, the data-type of column on right-hand
# side dataframe gets changed from int64 to float64. This issue is getting created 
# https://github.com/pandas-dev/pandas/issues/8596
# https://stackoverflow.com/questions/36743563/preserve-dataframe-column-data-type-after-outer-merge

# Approach 1 
# use df.convert_dtypes() post merger

# Approach 2 
# convert both side of column data-types to one single data-type and then do merger

In [65]:
# Create sample dest_pks

import pandas as pd

# Define data
data = {
    "skull_objectid": ["18364445", "18364640", "18359133", "18364696", "18364775",
                       "18364315", "18364639", "18359201", "18363848", "18364728"],
    "trnsrl": ["18364445", "18364640", "18359133", "18364696", "18364775",
               "18364315", "18364639", "18359201", "18363848", "18364728"],
    "updated_on": ["2025-02-12 19:03:18", "2025-02-12 19:03:57", "2025-02-15 09:30:42",
                   "2025-02-12 19:03:57", "2025-02-12 19:03:18", "2025-02-12 19:03:18",
                   "2025-02-12 19:03:57", "2025-02-19 20:02:15", "2025-02-15 09:30:42",
                   "2025-02-12 19:03:57"]
}

# Create DataFrame
dest_pks = pd.DataFrame(data)

# Convert skull_objectid to object (string)
dest_pks["skull_objectid"] = dest_pks["skull_objectid"].astype(str)

# Convert trnsrl to object (string) (since your given dtypes are all object)
dest_pks["trnsrl"] = dest_pks["trnsrl"].astype(str)

# Convert updated_on to object (string)
dest_pks["updated_on"] = dest_pks["updated_on"].astype(str)

# Print DataFrame info
print(dest_pks.info())

# Display DataFrame
print(dest_pks)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   skull_objectid  10 non-null     object
 1   trnsrl          10 non-null     object
 2   updated_on      10 non-null     object
dtypes: object(3)
memory usage: 372.0+ bytes
None
  skull_objectid    trnsrl           updated_on
0       18364445  18364445  2025-02-12 19:03:18
1       18364640  18364640  2025-02-12 19:03:57
2       18359133  18359133  2025-02-15 09:30:42
3       18364696  18364696  2025-02-12 19:03:57
4       18364775  18364775  2025-02-12 19:03:18
5       18364315  18364315  2025-02-12 19:03:18
6       18364639  18364639  2025-02-12 19:03:57
7       18359201  18359201  2025-02-19 20:02:15
8       18363848  18363848  2025-02-15 09:30:42
9       18364728  18364728  2025-02-12 19:03:57

In [66]:
# Create sample src_pks

import pandas as pd

# Define data
data = {
    "trnsrl": [16967859, 16967860, 16966334, 17555064, 17555071,
               17559397, 17559404, 17784486, 17784494, 17784503],
    "updated_on": ["2025-02-27 10:31:02", "2025-02-27 10:31:02", "2025-02-27 10:31:02",
                   "2025-02-27 10:31:02", "2025-02-27 10:31:02", "2025-02-27 10:31:02",
                   "2025-02-27 10:31:02", "2025-02-19 19:06:16", "2025-02-19 19:06:44",
                   "2025-02-19 19:07:46"],
    "skull_objectid": ["16967859", "16967860", "16966334", "17555064", "17555071",
                       "17559397", "17559404", "17784486", "17784494", "17784503"]
}

# Create DataFrame
src_pks = pd.DataFrame(data)

# Convert trnsrl to int64
src_pks["trnsrl"] = src_pks["trnsrl"].astype("int64")

# Convert updated_on to datetime64
src_pks["updated_on"] = pd.to_datetime(src_pks["updated_on"])

# Convert skull_objectid to object (string)
src_pks["skull_objectid"] = src_pks["skull_objectid"].astype(str)

# Print DataFrame info
print(src_pks.info())

# Display DataFrame
print(src_pks)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   trnsrl          10 non-null     int64
 1   updated_on      10 non-null     datetime64[ns]
 2   skull_objectid  10 non-null     object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 372.0+ bytes
None
     trnsrl          updated_on skull_objectid
0  16967859 2025-02-27 10:31:02       16967859
1  16967860 2025-02-27 10:31:02       16967860
2  16966334 2025-02-27 10:31:02       16966334
3  17555064 2025-02-27 10:31:02       17555064
4  17555071 2025-02-27 10:31:02       17555071
5  17559397 2025-02-27 10:31:02       17559397
6  17559404 2025-02-27 10:31:02       17559404
7  17784486 2025-02-19 19:06:16       17784486
8  17784494 2025-02-19 19:06:44       17784494
9  17784503 2025-02-19 19:07:46       17784503

In [61]:
# Approach 1

merge2 = dest_pks.merge(src_pks, how='outer', on='skull_objectid', indicator=True)

# Print DataFrame info
print(merge2.info())
print(merge2.to_string())


merge2 = merge2.convert_dtypes()
missed = merge2[merge2['_merge'] == 'right_only']

# Print DataFrame info
print(missed.info())
print(missed.to_string())

before converting d-types..
<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 16966334 to 18364775
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   trnsrl_x      10 non-null     object
 1   updated_on_x  10 non-null     object
 2   trnsrl_y      10 non-null     float64
 3   updated_on_y  10 non-null     datetime64[ns]
 4   _merge        20 non-null     category
dtypes: category(1), datetime64[ns](1), float64(1), object(2)
memory usage: 952.0+ bytes
None
                trnsrl_x         updated_on_x    trnsrl_y        updated_on_y      _merge
skull_objectid
16966334             NaN                  NaN  16966334.0 2025-02-27 10:31:02  right_only
16967859             NaN                  NaN  16967859.0 2025-02-27 10:31:02  right_only
16967860             NaN                  NaN  16967860.0 2025-02-27 10:31:02  right_only
17555064             NaN                  NaN  17555064.0 2025-02-27 10:31:02  right_only
17555071             NaN                  NaN  17555071.0 2025-02-27 10:31:02  right_only
17559397             NaN                  NaN  17559397.0 2025-02-27 10:31:02  right_only
17559404             NaN                  NaN  17559404.0 2025-02-27 10:31:02  right_only
17784486             NaN                  NaN  17784486.0 2025-02-19 19:06:16  right_only
17784494             NaN                  NaN  17784494.0 2025-02-19 19:06:44  right_only
17784503             NaN                  NaN  17784503.0 2025-02-19 19:07:46  right_only
18359133        18359133  2025-02-15 09:30:42         NaN                 NaT   left_only
18359201        18359201  2025-02-19 20:02:15         NaN                 NaT   left_only
18363848        18363848  2025-02-15 09:30:42         NaN                 NaT   left_only
18364315        18364315  2025-02-12 19:03:18         NaN                 NaT   left_only
18364445        18364445  2025-02-12 19:03:18         NaN                 NaT   left_only
18364639        18364639  2025-02-12 19:03:57         NaN                 NaT   left_only
18364640        18364640  2025-02-12 19:03:57         NaN                 NaT   left_only
18364696        18364696  2025-02-12 19:03:57         NaN                 NaT   left_only
18364728        18364728  2025-02-12 19:03:57         NaN                 NaT   left_only
18364775        18364775  2025-02-12 19:03:18         NaN                 NaT   left_only
after converting d-types..
<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 16966334 to 18364775
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   trnsrl_x      10 non-null     string
 1   updated_on_x  10 non-null     string
 2   trnsrl_y      10 non-null     Int64
 3   updated_on_y  10 non-null     datetime64[ns]
 4   _merge        20 non-null     category
dtypes: Int64(1), category(1), datetime64[ns](1), string(2)
memory usage: 972.0+ bytes
None
                trnsrl_x         updated_on_x  trnsrl_y        updated_on_y      _merge
skull_objectid
16966334            <NA>                 <NA>  16966334 2025-02-27 10:31:02  right_only
16967859            <NA>                 <NA>  16967859 2025-02-27 10:31:02  right_only
16967860            <NA>                 <NA>  16967860 2025-02-27 10:31:02  right_only
17555064            <NA>                 <NA>  17555064 2025-02-27 10:31:02  right_only
17555071            <NA>                 <NA>  17555071 2025-02-27 10:31:02  right_only
17559397            <NA>                 <NA>  17559397 2025-02-27 10:31:02  right_only
17559404            <NA>                 <NA>  17559404 2025-02-27 10:31:02  right_only
17784486            <NA>                 <NA>  17784486 2025-02-19 19:06:16  right_only
17784494            <NA>                 <NA>  17784494 2025-02-19 19:06:44  right_only
17784503            <NA>                 <NA>  17784503 2025-02-19 19:07:46  right_only
18359133        18359133  2025-02-15 09:30:42      <NA>                 NaT   left_only
18359201        18359201  2025-02-19 20:02:15      <NA>                 NaT   left_only
18363848        18363848  2025-02-15 09:30:42      <NA>                 NaT   left_only
18364315        18364315  2025-02-12 19:03:18      <NA>                 NaT   left_only
18364445        18364445  2025-02-12 19:03:18      <NA>                 NaT   left_only
18364639        18364639  2025-02-12 19:03:57      <NA>                 NaT   left_only
18364640        18364640  2025-02-12 19:03:57      <NA>                 NaT   left_only
18364696        18364696  2025-02-12 19:03:57      <NA>                 NaT   left_only
18364728        18364728  2025-02-12 19:03:57      <NA>                 NaT   left_only
18364775        18364775  2025-02-12 19:03:18      <NA>                 NaT   left_only
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 16966334 to 17784503
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   trnsrl_x      0 non-null      string
 1   updated_on_x  0 non-null      string
 2   trnsrl_y      10 non-null     Int64
 3   updated_on_y  10 non-null     datetime64[ns]
 4   _merge        10 non-null     category
dtypes: Int64(1), category(1), datetime64[ns](1), string(2)
memory usage: 552.0+ bytes
None
               trnsrl_x updated_on_x  trnsrl_y        updated_on_y      _merge
skull_objectid
16966334           <NA>         <NA>  16966334 2025-02-27 10:31:02  right_only
16967859           <NA>         <NA>  16967859 2025-02-27 10:31:02  right_only
16967860           <NA>         <NA>  16967860 2025-02-27 10:31:02  right_only
17555064           <NA>         <NA>  17555064 2025-02-27 10:31:02  right_only
17555071           <NA>         <NA>  17555071 2025-02-27 10:31:02  right_only
17559397           <NA>         <NA>  17559397 2025-02-27 10:31:02  right_only
17559404           <NA>         <NA>  17559404 2025-02-27 10:31:02  right_only
17784486           <NA>         <NA>  17784486 2025-02-19 19:06:16  right_only
17784494           <NA>         <NA>  17784494 2025-02-19 19:06:44  right_only
17784503           <NA>         <NA>  17784503 2025-02-19 19:07:46  right_only

In [31]:
# Approach 2
# Still need to covert the neareset data-type using convert_dtypes()

# Ensure trnsrl in both DataFrames is int64
dest_pks["trnsrl"] = dest_pks["trnsrl"].astype("int64")
src_pks["trnsrl"] = src_pks["trnsrl"].astype("int64")

merge3 = dest_pks.merge(src_pks, how='outer', on='skull_objectid', indicator=True)

# Print DataFrame info
print(merge3.info())
print(merge3.to_string())


missed1 = merge3[merge3['_merge'] == 'right_only']

# Print DataFrame info
print(missed1.info())
print(missed1.to_string())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   skull_objectid  20 non-null     object
 1   trnsrl_x        10 non-null     float64
 2   updated_on_x    10 non-null     object
 3   trnsrl_y        10 non-null     float64
 4   updated_on_y    10 non-null     datetime64[ns]
 5   _merge          20 non-null     category
dtypes: category(1), datetime64[ns](1), float64(2), object(2)
memory usage: 1.1+ KB
None
   skull_objectid    trnsrl_x         updated_on_x    trnsrl_y        updated_on_y      _merge
0        16966334         NaN                  NaN  16966334.0 2025-02-27 10:31:02  right_only
1        16967859         NaN                  NaN  16967859.0 2025-02-27 10:31:02  right_only
2        16967860         NaN                  NaN  16967860.0 2025-02-27 10:31:02  right_only
3        17555064         NaN                  NaN  17555064.0 2025-02-27 10:31:02  right_only
4        17555071         NaN                  NaN  17555071.0 2025-02-27 10:31:02  right_only
5        17559397         NaN                  NaN  17559397.0 2025-02-27 10:31:02  right_only
6        17559404         NaN                  NaN  17559404.0 2025-02-27 10:31:02  right_only
7        17784486         NaN                  NaN  17784486.0 2025-02-19 19:06:16  right_only
8        17784494         NaN                  NaN  17784494.0 2025-02-19 19:06:44  right_only
9        17784503         NaN                  NaN  17784503.0 2025-02-19 19:07:46  right_only
10       18359133  18359133.0  2025-02-15 09:30:42         NaN                 NaT   left_only
11       18359201  18359201.0  2025-02-19 20:02:15         NaN                 NaT   left_only
12       18363848  18363848.0  2025-02-15 09:30:42         NaN                 NaT   left_only
13       18364315  18364315.0  2025-02-12 19:03:18         NaN                 NaT   left_only
14       18364445  18364445.0  2025-02-12 19:03:18         NaN                 NaT   left_only
15       18364639  18364639.0  2025-02-12 19:03:57         NaN                 NaT   left_only
16       18364640  18364640.0  2025-02-12 19:03:57         NaN                 NaT   left_only
17       18364696  18364696.0  2025-02-12 19:03:57         NaN                 NaT   left_only
18       18364728  18364728.0  2025-02-12 19:03:57         NaN                 NaT   left_only
19       18364775  18364775.0  2025-02-12 19:03:18         NaN                 NaT   left_only
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   skull_objectid  10 non-null     object
 1   trnsrl_x        0 non-null      float64
 2   updated_on_x    0 non-null      object
 3   trnsrl_y        10 non-null     float64
 4   updated_on_y    10 non-null     datetime64[ns]
 5   _merge          10 non-null     category
dtypes: category(1), datetime64[ns](1), float64(2), object(2)
memory usage: 622.0+ bytes
None
  skull_objectid  trnsrl_x updated_on_x    trnsrl_y        updated_on_y      _merge
0       16966334       NaN          NaN  16966334.0 2025-02-27 10:31:02  right_only
1       16967859       NaN          NaN  16967859.0 2025-02-27 10:31:02  right_only
2       16967860       NaN          NaN  16967860.0 2025-02-27 10:31:02  right_only
3       17555064       NaN          NaN  17555064.0 2025-02-27 10:31:02  right_only
4       17555071       NaN          NaN  17555071.0 2025-02-27 10:31:02  right_only
5       17559397       NaN          NaN  17559397.0 2025-02-27 10:31:02  right_only
6       17559404       NaN          NaN  17559404.0 2025-02-27 10:31:02  right_only
7       17784486       NaN          NaN  17784486.0 2025-02-19 19:06:16  right_only
8       17784494       NaN          NaN  17784494.0 2025-02-19 19:06:44  right_only
9       17784503       NaN          NaN  17784503.0 2025-02-19 19:07:46  right_only

In [56]:
# try old get_missed_rows approach here. 

import numpy as np

primary_key = ['trnsrl']
fetch_batch = 10

def split(dfm, chunk_size):
    indices = range(1 * chunk_size, (dfm.shape[0] // chunk_size + 1) * chunk_size, chunk_size)
    return np.split(dfm, indices)

def get_src_where_or(missed):
    cols = missed.columns
    lists = missed.apply(lambda row: [row[c] for c in cols], axis=1)
    vals = ' or '.join(lists.apply(lambda val:
                                   '(' + ' and '.join(c + "='" + str(x) + "'" for c, x in zip(cols, val)) + ')'))
    return "({vals})".format(vals=vals)

primary_keys_y = [f"{col}_y" for col in primary_key]

# Check if all required columns exist in 'missed'
missing_keys = [col for col in primary_keys_y if col not in missed.columns]
if missing_keys:
    raise KeyError(f"Missing expected columns in DataFrame: {missing_keys}")

split_missed = split(missed[primary_keys_y], fetch_batch)
print(split_missed[0])

split_missed = [df.rename(columns=lambda col: col[:-2] if col.endswith('_y') else col) for df in split_missed]
print(split_missed[0])

for m in split_missed:
    src_query = ' and ' + get_src_where_or(m)
    print(src_query)

   trnsrl_y
0  16966334
1  16967859
2  16967860
3  17555064
4  17555071
5  17559397
6  17559404
7  17784486
8  17784494
9  17784503
     trnsrl
0  16966334
1  16967859
2  16967860
3  17555064
4  17555071
5  17559397
6  17559404
7  17784486
8  17784494
9  17784503
 and ((trnsrl='16966334') or (trnsrl='16967859') or (trnsrl='16967860') or (trnsrl='17555064') or (trnsrl='17555071') or (trnsrl='17559397') or (trnsrl='17559404') or (trnsrl='17784486') or (trnsrl='17784494') or (trnsrl='17784503'))
 and ()

/opt/homebrew/anaconda3/lib/python3.12/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [64]:
import pandas as pd

# Set 'skull_objectid' as index in both DataFrames
dest_pks = dest_pks.set_index("skull_objectid")
src_pks = src_pks.set_index("skull_objectid")

# Perform outer join using concat
concat_merge = pd.concat([dest_pks, src_pks], axis=1, join="outer", keys=["dest", "src"])

# Drop multi-level column names (created by keys)
concat_merge.columns = concat_merge.columns.droplevel(0)

# Add indicator column similar to merge()
concat_merge["_merge"] = "both"
concat_merge.loc[dest_pks.index.difference(src_pks.index), "_merge"] = "left_only"
concat_merge.loc[src_pks.index.difference(dest_pks.index), "_merge"] = "right_only"

# Reset index to bring back 'skull_objectid' as a column
concat_merge = concat_merge.reset_index()
# concat_merge = concat_merge.convert_dtypes()

# Print DataFrame info
print(concat_merge.info())

# Display DataFrame
print(concat_merge.to_string())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   skull_objectid  20 non-null     object
 1   trnsrl          10 non-null     object
 2   updated_on      10 non-null     object
 3   trnsrl          10 non-null     float64
 4   updated_on      10 non-null     datetime64[ns]
 5   _merge          20 non-null     object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 1.1+ KB
None
   skull_objectid    trnsrl           updated_on      trnsrl          updated_on      _merge
0        18364445  18364445  2025-02-12 19:03:18         NaN                 NaT   left_only
1        18364640  18364640  2025-02-12 19:03:57         NaN                 NaT   left_only
2        18359133  18359133  2025-02-15 09:30:42         NaN                 NaT   left_only
3        18364696  18364696  2025-02-12 19:03:57         NaN                 NaT   left_only
4        18364775  18364775  2025-02-12 19:03:18         NaN                 NaT   left_only
5        18364315  18364315  2025-02-12 19:03:18         NaN                 NaT   left_only
6        18364639  18364639  2025-02-12 19:03:57         NaN                 NaT   left_only
7        18359201  18359201  2025-02-19 20:02:15         NaN                 NaT   left_only
8        18363848  18363848  2025-02-15 09:30:42         NaN                 NaT   left_only
9        18364728  18364728  2025-02-12 19:03:57         NaN                 NaT   left_only
10       16967859       NaN                  NaN  16967859.0 2025-02-27 10:31:02  right_only
11       16967860       NaN                  NaN  16967860.0 2025-02-27 10:31:02  right_only
12       16966334       NaN                  NaN  16966334.0 2025-02-27 10:31:02  right_only
13       17555064       NaN                  NaN  17555064.0 2025-02-27 10:31:02  right_only
14       17555071       NaN                  NaN  17555071.0 2025-02-27 10:31:02  right_only
15       17559397       NaN                  NaN  17559397.0 2025-02-27 10:31:02  right_only
16       17559404       NaN                  NaN  17559404.0 2025-02-27 10:31:02  right_only
17       17784486       NaN                  NaN  17784486.0 2025-02-19 19:06:16  right_only
18       17784494       NaN                  NaN  17784494.0 2025-02-19 19:06:44  right_only
19       17784503       NaN                  NaN  17784503.0 2025-02-19 19:07:46  right_only

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 10 to 19
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   skull_objectid  10 non-null     string
 1   trnsrl_x        10 non-null     string
 2   updated_on_x    10 non-null     string
 3   trnsrl_y        0 non-null      Int64
 4   updated_on_y    0 non-null      datetime64[ns]
 5   _merge          10 non-null     category
dtypes: Int64(1), category(1), datetime64[ns](1), string(3)
memory usage: 632.0 bytes
None
   skull_objectid  trnsrl_x         updated_on_x  trnsrl_y updated_on_y     _merge
10       18359133  18359133  2025-02-15 09:30:42      <NA>          NaT  left_only
11       18359201  18359201  2025-02-19 20:02:15      <NA>          NaT  left_only
12       18363848  18363848  2025-02-15 09:30:42      <NA>          NaT  left_only
13       18364315  18364315  2025-02-12 19:03:18      <NA>          NaT  left_only
14       18364445  18364445  2025-02-12 19:03:18      <NA>          NaT  left_only
15       18364639  18364639  2025-02-12 19:03:57      <NA>          NaT  left_only
16       18364640  18364640  2025-02-12 19:03:57      <NA>          NaT  left_only
17       18364696  18364696  2025-02-12 19:03:57      <NA>          NaT  left_only
18       18364728  18364728  2025-02-12 19:03:57      <NA>          NaT  left_only
19       18364775  18364775  2025-02-12 19:03:18      <NA>          NaT  left_only
select * from ahwspl__ahwspl_de__easysol.sp1gst_snapshot_nrt where skull_namespace='ws_eastern' and skull_opcode!='D' AND updated_on >= '2025-02-24 23:00:00'AND ( (skull_objectid) in (('18359133'),('18359201'),('18363848'),('18364315'),('18364445'),('18364639'),('18364640'),('18364696'),('18364728'),('18364775')))
Running below Query on connection: None
select * from ahwspl__ahwspl_de__easysol.sp1gst_snapshot_nrt where skull_namespace='ws_eastern' and skull_opcode!='D' AND updated_on >= '2025-02-24 23:00:00'AND ( (skull_objectid) in (('18359133'),('18359201'),('18363848'),('18364315'),('18364445'),('18364639'),('18364640'),('18364696'),('18364728'),('18364775')))

/opt/homebrew/anaconda3/lib/python3.12/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

NameError: name 'fetched' is not defined